# Copyright (c) 2025 Ovyl
# SPDX-License-Identifier: Apache-2.0

menu "Ovyl Config Module"

config OVYL_CONFIG
    bool "Config Module"
    default n
    select NVS
    select FLASH
    select FLASH_MAP

config OVYL_CONFIG_OPT_FLASH_AREA
    string "NVS flash area partition name"
    default nvs_storage
    help
      Name of the flash partition to use for NVS storage.
      This must match a partition defined in pm_static.yml.
      Default is nvs_storage.

config OVYL_CONFIG_APP_DEF_PATH
    string "Path to app configs.def"
    help
      Path to the application’s CFG(...) file.
      Example:
        CONFIGS_APP_DEF_PATH="\"${CMAKE_CURRENT_SOURCE_DIR}/app/app_configs.def\""

# Pattern for per-module logging config
module = OVYL_CFG_MGR
module-str = OVYL_CFG_MGR
source "subsys/logging/Kconfig.template.log_config"


endmenu